<%- include('../partials/admin-link.ejs') %>
<style>
    .dataTables_wrapper label {
        /* font-size: .8125rem; */
        margin-right: 455px;
        margin-top: -13px;
        margin-bottom: 31px;
    }
</style>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <%- include('../partials/_navbar.ejs') %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../partials/_settings-panel.html -->
                <%- include('../partials/_settings-panel.ejs') %>
                    <!-- partial -->
                    <!-- partial:../../partials/_sidebar.html -->
                    <%- include('../partials/_sidebar.ejs') %>
                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card" style="border-radius: 0%;">
                                            <div class="card-body">
                                                <div class="container" id="">
                                                    <div class="container-fluid  pt-4 px-4">
                                                        <div class="row g-4">
                                                            <div class="  col-xl-2">

                                                            </div>

                                                            <div class="col-sm-12    ">

                                                                <div class="container-fluid  pt-4 px-4">
                                                                    <div class="row g-4">
                                                                        <div class="  col-xl-2">

                                                                        </div>

                                                                        <div class="col-sm-12   col-xl-6">

                                                                            <form action="/admin/add-coupon" method="post">

                                                                                <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                                                                                  <div class="row">
                                                                                    <%if(couponMsg.length>0){%>
                                                                                        <div class="alert alert-warning form-outline mb-4 col-md-12" role="alert">
                                                                                            <strong class="mx-2"> <%=couponMsg%></strong> 
                                                                                             
                                                                                          </div>
                                                                            
                                                                                    <%}%>
                                                                                    <div class="  mb-4 col-md-12">Coupon Code</span></label>
                                                                                      <input name="code" placeholder="Coupon Code"  type="text" required class="form-control" />
                                                                        
                                                                                    </div>
                                                                                     
                                                                                  <div class="row">
                                                                                    <div class="  mb-4 col-md-6">
                                                                                      <span class="text-gray-700 dark:text-gray-400">Usage Limit</span></label>
                                                                                      <input name="usageLimit" placeholder="Usage Limit"   type="number" required class="form-control " />
                                                                                    </div>
                                                                                    <div class="  mb-4   col-md-6">
                                                                                      <span class="text-gray-700 dark:text-gray-400">Min Cart Amount</span></label>
                                                                                      <input name="minCartAmount" placeholder="Min Cart Amount"  type="number" required style="width: 15.5em"  class="form-control"/>
                                                                        
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="row">
                                                                                    <div class=" mb-4 col-md-6">
                                                                                       
                                                                                        <span class="text-gray-700 dark:text-gray-400">Expire After(days)</span> 
                                                                                      <input name="expireAfter" placeholder="Expire After(days)"  type="number" required class="form-control"/>
                                                                                    </div>
                                                                                    <div class="  mb-4   col-md-6">
                                                                                      <span class="text-gray-700 dark:text-gray-400">Max Cart Discount</span> 
                                                                                  <input name="maxDiscountAmount" placeholder="Max Cart Discount"  type="number" style="width: 15.5em" required class="form-control" /> 
                                                                        
                                                                                    </div>
                                                                                  </div>
                                                                                  <button type="submit" class="btn btn-primary">
                                                                                    Add Coupon
                                                                                  </button>
                                                                                </div>
                                                                              </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div>

                                </div>


                            </div>
                            <!-- content-wrapper ends -->
                            <!-- partial:../../partials/_footer.html -->
                            <%- include('../partials/_footer.ejs') %>
                                <!-- partial -->
                        </div>
                        <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
    </div>
    <%- include('../partials/admin-script.ejs') %>
</body>
 