<%- include('../partials/admin-link.ejs') %>
<style>
  .dataTables_wrapper label {
    /* font-size: .8125rem; */
    margin-right: 455px;
    margin-top: -13px;
    margin-bottom: 31px;
  }
</style>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <%- include('../partials/_navbar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <%- include('../partials/_settings-panel.ejs') %>
          <!-- partial -->
          <!-- partial:../../partials/_sidebar.html -->
          <%- include('../partials/_sidebar.ejs') %>
            <!-- partial -->
            <div class="main-panel">
              <div class="content-wrapper">
                <div class="row">
                  <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card" style="border-radius: 0%;">
                      <div class="card-body">
                        <div class="container" id="">
                          <div class="container-fluid  pt-4 px-4">
                            <div class="row g-4">
                              <div class="  col-xl-2">

                              </div>

                              <div class="col-sm-12    ">

<div class="container-fluid  pt-4 px-4" >
    <div class="row g-4">
        <div class="  col-xl-2">

        </div>
      
        <div class="col-sm-12   col-xl-6">
          
            <form action="/admin/add-category" method="post" enctype="multipart/form-data">
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <%if(cat.length>0){%>
                    <div class="alert alert-warning" role="alert">
                        <strong class="mx-2"> <%=cat%></strong> 
                        <!-- <br> Are you a returning customer?
                         <a href="/login" class=" ">Sign-In   </a> <br><a href="/forgot " class=" ">Forgot your password?</a>
                         <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
                      </div>
        
                <%}%>
                  <input type="text" placeholder="Category name" name="categoryName" id="form4Example1" class="form-control" required />
                  <label class="form-label" for="form4Example1">Name</label>
                </div>
              
                <!-- Email input -->
               
              
                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea name="description" placeholder="Description" class="form-control" id="form4Example3" rows="4" required></textarea>
                  <label class="form-label" for="form4Example3">Description</label>
                </div>
              
                <div class="form-outline mb-4">
                  <input type="file" placeholder="Image" name="img" id="image" class="form-control" />
                  <label class="form-label" for="form4Example1">Image</label>
                </div>
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Add Category</button>
              </form>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

</div>
</div>

</div>
<div>

</div>


</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
<%- include('../partials/_footer.ejs') %>
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<%- include('../partials/admin-script.ejs') %>
</body>
 