

<!DOCTYPE html>
<html lang="en">

 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>                 

<body>
    <style>
        label{
            display: flex;
            align-items: center;
            /* margin-right: 118px; */
            border-radius: 0%;
     
        }
        /* .add{
            z-index: 0;
        margin-top: -100px;
        margin-left: 500px;
        padding: 15px;
        border-radius: 1px;
        } */
        #cat_filter{
        
        align-items: center;
        }
        input{
        width: 269px;
        height: 46px;
        }
    
        #cat{
          
        }
        #cat_wrapper{
          
          
         
        }
        #cat_paginate{
         max-height: 40px;
         margin: 10px 10px;
        
     }
     #cat_info{
         color: black;
     }
     #cat_previous{
         background-color: lightskyblue !important;
         border-radius: 20px;
         
         color:blue !important;
     
     }
     .fg-button{
         color: black;
     }
     #cat_next{
         background-color: lightskyblue !important;
         border-radius: 20px;
         
         color:blue !important;
     }
     </style>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
    <%- include('../partials/_navbar.ejs') %>
            <!-- partial -->
        <div class="container-fluid page-body-wrapper">
                <!-- partial:../../partials/_settings-panel.html -->
         <%- include('../partials/_settings-panel.ejs') %>
                    <!-- partial -->
                    <!-- partial:../../partials/_sidebar.html -->
         <%- include('../partials/_sidebar.ejs') %>
                        <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                       <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card"style="border-radius: 0%;">
                                <div class="card-body">
                                    
                                    <div class="container" id="">
                                                         
                                        <div class="row"style="overflow-x:auto;" >
                                             <table class="table  table-striped" id="cat" >
                                                <thead style="    background-color: #121211;
                                                color: white;">
                                                     <tr>
                                                        <th class="col-md-2">NO</th>
                                                        <th class="col-md-3">NAME</th>
                                                         <th class="col-md-3">EMAIL</th>
                                                        <th class="col-md-2">PHONE</th>
                                                        <th class="col-md-2">OPTIONS</th>
                                                     </tr>
                                               </thead>
                                                <tbody>
                                                    <%if(users){%>
                                                <% users.forEach(function(users,index){%>
                                                    <tr>
                                                        <td>
                                                            <%=index+1%>
                                                        </td>
                                                        <td>
                                                             <%= users.name%>
                                                        </td>
                                                        <td>
                                                            <%= users.email%>
                                                        </td>
                                                        <td>
                                                             <%= users.phone%>
                                                        </td>

                                                        <td>
                                                          <%if(users.access){%>
                                                             <a href="/admin/block/<%=users._id %>"
                                                              class=" " onclick="return confirm('Are you want to block   <%=users.name%>? ')"><i class="fa fa-unlock" style="font-size:24px; color: rgb(42, 39, 39);"></i></a>
                                                                 <%}else{%>
                                                            <a href="/admin/unblock/<%=users._id %>"
                                                            class=""
                                                            onclick="return confirm('Are you want to unblock <%=users.name%>? ')"><i class="fa fa-lock" style="font-size:24px; color: rgb(255, 44, 44);"></i></a>
                                                            

                                                        <%}%>
                                                                        </td>
                                                    </tr>
                                                        <%});%>
                                                        <%}%>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                <!-- <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Line chart</h4>
                            <canvas id="lineChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Bar chart</h4>
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Area chart</h4>
                            <canvas id="areaChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Doughnut chart</h4>
                            <canvas id="doughnutChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Pie chart</h4>
                            <canvas id="pieChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Scatter chart</h4>
                            <canvas id="scatterChart"></canvas>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <%- include('../partials/_footer.ejs') %>
            <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../../js/chart.js"></script>
    <!-- End custom js for this page-->
</body>

<script>
    $(document).ready( function () {
      $('#cat').DataTable();
  } );
  
  </script>
</html>