<%- include('../partials/admin-link.ejs') %>


<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <%- include('../partials/_navbar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <%- include('../partials/_settings-panel.ejs') %>
          <!-- partial -->
          <!-- partial:../../partials/_sidebar.html -->
          <%- include('../partials/_sidebar.ejs') %>
            <!-- partial -->
            <div class="main-panel">
              <div class="content-wrapper">
                <div class="row">
                  <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card" style="border-radius: 0%;">
                      <div class="card-body" style="border-radius: 0%;">
                        <div class="container" id="">

                          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Edit Product</button>
                                                     -->

                          <div class="row" style="overflow-x:auto;">
                            <div class="container-fluid  pt-4 px-4">
                              <div class="row g-4">
                                <div class="  col-xl-2">

                                </div>

                                <div class="col-sm-12   col-xl-6">

                                  <form action="/admin/edit-product/<%=product._id %>" method="post"
                                    enctype="multipart/form-data">
                                    <div class="row">
                                      <div class="form-outline mb-4 col-md-6">
                                        <label class="form-label" for="form4Example1">Name</label>
                                        <input type="text" name="title" id="form4Example1" class="form-control"
                                          value="<%=product.title %>">

                                      </div>
                                      <div class="form-outline mb-4 col-md-6">
                                        <label class="form-label" for="form4Example1">Price</label>
                                        <input type="number" name="price" id="form4Example1" class="form-control"
                                          value="<%=product.price %>">
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="form-outline mb-4 col-md-6">
                                        <label class="form-label" for="form4Example1">Discount</label>
                                        <input type="text" name="discount" id="form4Example1" class="form-control"
                                          value="<%=product.discount %>">

                                      </div>
                                      <div class="form-outline mb-4 col-md-6">
                                        <label class="form-label" for="form4Example1">Stock</label>
                                        <input type="number" name="stock" id="form4Example1" class="form-control"
                                          value="<%=product.stock %>">
                                      </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                      <label class="form-label" for="form4Example1">Category</label>
                                      <select class="form-select" id="sel1" name="category">
                                        <% category.forEach(function(category,index){%>
                                          <option value="<%=category._id%>" <%
                                            if(product.category.toString()===category._id.toString()){%>selected
                                            <%} %>> "<%= category.name%>"
                                          </option>
                                          <%});%>
                                      </select>
                                    </div>


                                    <div class="form-outline mb-4">
                                      <label class="form-label" for="form4Example3">Description</label>
                                      <input value="<%=product.description %>" name="description" class="form-control"
                                        id="form4Example3" rows="4">
                                    </div>

                                    <div class="form-outline mb-4">
                                      <label class="form-label" for="form4Example1">Thumbnail</label>
                                      <img src="<%=product.images %>" alt="" id="imgview" width="100px">
                                      <input type="file" name="img" id="image" class="form-control"
                                        onchange="viewimage(event)" value="<%=product.images %>">
                                    </div>
                                    <div class="custom-file">
                                      <label class="custom-file-label" for="customFile">Choose file</label>
                                      <% product.arrimg.forEach(function(result){ %>
                                        <img src="<%= result %>" alt="" id="imgviews" width="100px" class="my-5">
                                        <% }); %>
                                          <input value=" " type="file" name="images" class="custom-file-input"
                                            id="customFile" onchange="viewimages(event)" multiple>
                                    </div>


                                    <button type="submit" class="btn btn-primary btn-block mb-4 mt-4">Edit
                                      Product</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="my-4">
                            <!-- <a href="/admin/add-category "
                                                         class="btn btn-primary ml-auto">Add Category</a> -->


                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                  <div>

                  </div>


                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <%- include('../partials/_footer.ejs') %>
                  <!-- partial -->
              </div>
              <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
      </div>
      <%- include('../partials/admin-script.ejs') %>
</body>



</html>


<!-- <div class="container-fluid  pt-4 px-4">
  <div class="row g-4">
    <div class="  col-xl-2">

    </div>

    <div class="col-sm-12   col-xl-6">

      <form action="/admin/edit-product/<%=product._id %>" method="post" enctype="multipart/form-data">
        
        <div class="form-outline mb-4">
          <label class="form-label" for="form4Example1">Name</label>
          <input type="text" name="title" id="form4Example1" class="form-control" value="<%=product.title %>">

        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="form4Example1">Category</label>
          <select class="form-select" id="sel1" name="category">
            <% category.forEach(function(category,index){%>
              <option value="<%=category._id%>" <% if(product.category.toString()===category._id.toString()){%>selected
                <%} %>> "<%= category.name%>" </option>
              <%});%>
          </select>
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="form4Example1">Price</label>
          <input type="number" name="price" id="form4Example1" class="form-control" value="<%=product.price %>">
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="form4Example3">Description</label>
          <input value="<%=product.description %>" name="description" class="form-control" id="form4Example3" rows="4">
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="form4Example1">Thumbnail</label>
          <img src="<%=product.images %>" alt="" id="imgview" width="100px">
          <input type="file" name="img" id="image" class="form-control" onchange="viewimage(event)"
            value="<%=product.images %>">
        </div>
        <div class="custom-file">
          <label class="custom-file-label" for="customFile">Choose file</label>
          <% product.arrimg.forEach(function(result){ %>
            <img src="<%= result %>" alt="" id="imgviews" width="100px" class="my-5">
            <% }); %>
              <input value=" " type="file" name="images" class="custom-file-input" id="customFile"
                onchange="viewimages(event)" multiple>
        </div>

      
        <button type="submit" class="btn btn-primary btn-block mb-4">Edit Product</button>
      </form>
    </div>
  </div>
</div> -->
<script>
  function viewimage(e) {
    document.getElementById('imgview').src = URL.createObjectURL(e.target.files[0])

  }
  function viewimages(e) {
    document.getElementById('imgviews').src = URL.createObjectURL(e.target.files[0])

  }

</script>
<script>
  $(".custom-file-input").on("change", function () {
    var files = Array.from(this.files)
    var fileName = files.map(f => { return f.name }).join(", ")
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>