 
    <%- include('../partials/admin-link.ejs') %>
<style>
    label {
        display: flex;
        align-items: center;
        /* margin-right: 118px; */
        border-radius: 0%;

    }

    /* .add{
        z-index: 0;
    margin-top: -100px;
    margin-left: 500px;
    padding: 15px;
    border-radius: 1px;
    } */
    #cat_filter {

        align-items: center;
    }

    input {
        width: 269px;
        height: 46px;
    }

    #cat {
        /* background-color: rgb(246, 246, 246); */
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #cat_paginate {
        max-height: 40px;
        margin: 10px 10px;

        <%if(sales) {
            %><%if(sales.length<10) {
                %>display: none;
                <%
            }

            %><%
        }

        %>
    }

    #cat_info {
        color: black;
    }

    #cat_previous {
        background-color: lightskyblue !important;
        border-radius: 20px;

        color: blue !important;

    }

    .fg-button {
        color: black;
    }

    #cat_next {
        background-color: lightskyblue !important;
        border-radius: 20px;

        color: blue !important;
    }
</style>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <%- include('../partials/_navbar.ejs') %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../partials/_settings-panel.html -->
                <%- include('../partials/_settings-panel.ejs') %>
                    <!-- partial -->
                    <!-- partial:../../partials/_sidebar.html -->
                    <%- include('../partials/_sidebar.ejs') %>
                        <!-- partial -->
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <button style="background-color: rgb(21, 18, 127); color: white;"
                                            id="download-button">Download as PDF</button>
                                    </div>
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card" style="border-radius: 0%;" id="invoice">
                                            <div class="card-body">
                                                <div class="container" id="">

                                                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Edit Product</button>
                                                     -->

                                                    <div class="row" style="overflow-x:auto;">
                                                        <table id="cat" class="table  table-striped">
                                                            <thead style="    background-color: #121211;
                                                            color: white;">
                                                                <tr>
                                                                    <th class="col-md-1">NO</th>
                                                                    <th class="col-md-3">DATE</th>
                                                                    <th class="col-md-3">TOTAL PRICE</th>
                                                                    <th class="col-md-2">ITEMS</th>
                                                                    <th class="col-md-3">COUNT</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% sales.forEach(function(e,i){%>
                                                                    <tr>
                                                                        <td>
                                                                            <%=i+1%>
                                                                        </td>
                                                                        <td>
                                                                            <%=e._id.month%>
                                                                        </td>
                                                                        <td>
                                                                            <%=e.totalPrice%>
                                                                        </td>
                                                                        <td>
                                                                            <%=e.items%>
                                                                        </td>
                                                                        <td>
                                                                            <%=e.count%>
                                                                        </td>
                                                                        <%});%>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div>

                                    </div>


                                </div>
                                <!-- content-wrapper ends -->
                                <!-- partial:../../partials/_footer.html -->
                                <%- include('../partials/_footer.ejs') %>
                                    <!-- partial -->
                            </div>
                            <!-- main-panel ends -->
                        </div>
                        <!-- page-body-wrapper ends -->
            </div>
            <%- include('../partials/admin-script.ejs') %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
                integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

<script>
    $(document).ready(function () {
        $('#cat').DataTable();
    });

    const button = document.getElementById('download-button');

    function generatePDF() {
        const element = document.getElementById('invoice');
        html2pdf().from(element).save();
    }

    button.addEventListener('click', generatePDF);
</script>

</html>
<!-- modal add address -->