<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/user-header.ejs') %>
    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<li><a href="/shop" class="active">All</a></li>
						<% category.forEach(function(el){%>
							 
    					<li><a href="/shop?cat=<%=el._id%>" id="btn<%=el._id%>" type="button" 
							onclick="document.getElementById('btn<%=el._id%>').style.backgroundColor = 'green'" ><%=el.name%></a></li>
						 
						<%})%>
    					<!-- <li><a href="#">Fruits</a></li>
    					<li><a href="#">Juice</a></li>
    					<li><a href="#">Dried</a></li> -->
    				</ul>
    			</div>
    		</div>
    		<div class="row">
    			<% product.forEach(function(pro) {%>   
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="product">
							<a href="/single-product?id=<%= pro._id%>" class="img-prod"><img class="img-fluid" src="<%= pro.images%>" alt="Colorlib Template">
								<span class="status"><%= pro.discount%>%</span>
								<div class="overlay"></div>
							</a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3><a href="/single-product?id=<%= pro._id%>"><%= pro.title%></a></h3>
								<div class="d-flex">
									<div class="pricing">
										<p class="price"><span class="mr-2 price-dc">$<%= pro.price + pro.price*pro.discount/100%></span><span class="price-sale">$<%= pro.price%>.00</span></p>
									</div>
								</div>
								<div class="bottom-area d-flex px-3">
									<div class="m-auto d-flex">
										<a href="/single-product?id=<%= pro._id%>" class="add-to-cart d-flex justify-content-center align-items-center text-center">
											<span><i class="ion-ios-menu"></i></span>
										</a>
										<a onclick="changeCount('<%= pro._id%>','<%= userid%>')" class="buy-now d-flex justify-content-center align-items-center mx-1">
											<span><i class="ion-ios-cart"></i></span>
										</a>
										<a href="/add-wishlist/<%= pro._id%>" class="heart d-flex justify-content-center align-items-center ">
											<span><i class="ion-ios-heart"></i></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<%});%>
    			 
    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
				 
				<% if(hasPreviousPage){ %>
					<li><a class="page " href="/shop?page=<%= PreviousPage %>" aria-label="Previous">
						&lt;
					</a></li>
					<% } %>
					<li><a style="background-color:#82ae46; color: white;" 
						 href="/shop?page=<%= page %>" aria-label="Next">
						 
						<%= page %>
					</a></li>
			   
					<% if(hasNextPage) { %>
						<li><a class="page" href="/shop?page=<%= page+1 %>" aria-label="Next">
						&gt;
					</a></li>
					<% } %>
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/user-footer.ejs') %>
</html>
<script>
	function changeCount( proid, userid) {
		 
					  
					$.ajax({
						url: '/add-to-cart',
						data: {
							proid:proid,
							userid:userid
							 
						},
						method: "post",
						success: (response) => {
							if(response.count){
								document.getElementById('count').innerHTML = response.count
							 }else{
							 
							location.href="/login"
						 
							 }
						 
						}
					})
				}
</script>
